body {
    padding: 0;
    margin: 0;
    background: url(./picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

html {
    height: fill-available;
    height: -webkit-fill-available;
}

.container {
    width: 100vw;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    font-size: 80px;
    font-family: 'The Nautigal', cursive;
    display: flex;
    flex-direction: column;
    position: relative;
}

.title {
    margin-top: 15px;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: 'The Nautigal', cursive;
    color: #ffa504;
    letter-spacing: 3px;
}

.grid {
    width: 310px;
    height: 310px;
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 100px);
    column-gap: 5px;
    row-gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
}

.block {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#block9 {
    display: none;
}
.congrats {
    font-size: 80px;
}

.bigImg {
    width: 310px;
    height: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background: url(./1/10.jpg);
    display: none;
}

button {
    border: none;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    border-radius: 5px;
    width: 65px;
    height: 65px;
    font-size: 15px;
    letter-spacing: 1px;
    background: #c1dcf1;
    color: #38c9d2;
    position: absolute;
    bottom: 0;
    font-weight: 600;
}

button:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

.mute {
    left: 0;
}
.preview:active {
    box-shadow: none;
}
.preview {
    left: 85px;
}

.reset {
    left: 170px;
}

.easy {
    left: 255px;
}

.activated {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    color: rgba(255, 0, 0, 0.4);
    font-weight: 600;
}

.btn-block {
    position: absolute;
    left: 50%;
    bottom: -280px;
    width: 320px;
    height: 65px;
    transform: translateX(-50%);
}
